
<header class="main" data-user-id="<%= current_user&.id %>">
  <%= link_to image_tag("/images/ncs-logo3.PNG", class:"ncs-icon") %>
  <div class='nav'>
    <ul class='lists'>

      <div class="nav_lists">
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, user_path(current_user), class: "user-nickname"  %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: "logout" %></li>
        <% end %>
      </div>
    </ul>
  </div>
</header>

<div class="top-page">
  <% unless user_signed_in? %>
    <div class="first_action", id="first-action" >
      <%= link_to 'ログイン', new_user_session_path, class: "login" %>
      <%= link_to '新規会員登録', new_user_registration_path, class: "sign-up" %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="button-container">
      <button id="start-camera">カメラを起動</button>
      <video id="camera" width="600" height="400" style="display: none;"></video>
      <canvas id="canvas" style="display: none;"></canvas>

      <div class="stamp-cards">
        <% @stampcards.each do |stampcard| %>
          <div class="stamp-card-container" data-stampcard-id="<%= stampcard.id %>">
            <%= link_to 'スタンプカード', stampcard_path(stampcard), class: 'button-link' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<!-- jsQRライブラリの読み込み -->
<script src="https://cdn.jsdelivr.net/npm/jsqr@1.3.1/dist/jsQR.js"></script>
<!-- カスタムJavaScriptファイルの読み込み -->
<script src="/javascript/camera.js"></script>
